body{
    margin: 0;
    font-family: 'Times New Roman';
    background-color: rgb(255, 255, 255);
}

.titulo{
    color: #ffffff;
    text-align: center;
}

.sub{
    color: #00001b;
}

header{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 1px;
}

.container{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.10em;
    margin: 10px;
    margin-bottom: 16px;
    border-width: 1px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

footer{
    background-color: #080808;
    color: aliceblue;
    padding: 35px;
    display: flex;
    justify-content: center;
}